@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>COMP 4976 Assignment 1</h1>
    <p class="lead">Welcome to the student option picker website.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Students</h2>
        <p>
            As a student, you are able to register, log in, and select options for current or upcoming terms.
            You must choose 4 distinct options, and you may only make one entry per term.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Administrator</h2>
        <p>
            Administrators are able to modify and manage options and year terms tables.
        </p>
    </div>
</div>